body {
  font-family: "Poppins", Arial, sans-serif;
  background: #fff;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #8c8c8c;
  position: relative; }
  body a {
    text-decoration: none; }

h1, h2 {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.25);
  font-weight: 800;
  font-size: 2em; }

h3, h4, h5 {
  color: #314455; }

.side-bar-container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #314455;
  width: 15em; }

.nav-list-container {
  display: flex;
  flex-direction: column;
  font-size: .85em;
  width: 100%;
  margin: 2em 0;
  padding: 0 1em;
  list-style-type: none;
  color: whitesmoke; }
  .nav-list-container img {
    border-radius: 6em;
    width: 80%; }
  .nav-list-container hr {
    border: solid .5px;
    margin: 2em auto;
    width: 100%; }

.name-text, .dev-text, .headshot {
  text-align: center; }

.linkedin-link, .github-link,
.resume-link, .email-link {
  display: grid;
  grid-template-columns: 2em 0;
  margin: .5em .5em; }
  .linkedin-link a, .github-link a,
  .resume-link a, .email-link a {
    text-decoration: none;
    color: #fff; }
  .linkedin-link a:hover, .github-link a:hover,
  .resume-link a:hover, .email-link a:hover {
    color: lightgray; }
  .linkedin-link i, .github-link i,
  .resume-link i, .email-link i {
    font-size: 1.5em; }

.main-wrapper {
  display: block;
  position: relative;
  margin: 0 -8px 0 14.55em;
  top: -1.35em; }

.header-section {
  background-image: linear-gradient(-176deg, #9E5A63 75%, #fff calc(75% + 2px));
  text-align: center;
  height: 220px; }

.about-section {
  margin: 0 auto;
  width: 95%; }

.bold-text-about {
  position: relative;
  margin: 0;
  font-size: 10em;
  top: .65em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase; }

.skills-section {
  margin: 8em 0 0; }
  .skills-section h2, .skills-section p, .skills-section div {
    text-align: center;
    color: rgba(0, 0, 0, 0.3); }
  .skills-section .container {
    position: relative;
    background-image: linear-gradient(176deg, #97AABD 70%, #fff calc(70% + 2px));
    -webkit-background-image: linear-gradient(176deg, #97AABD 70%, #fff calc(70% + 2px));
    -moz-background-image: linear-gradient(176deg, #97AABD 70%, #fff calc(70% + 2px)); }

.skills-wrapper {
  margin: .5em auto; }

.skills-item-list {
  display: grid;
  grid-template-columns: 11em 11em 11em 11em;
  grid-template-rows: 11em 11em 11em 8em;
  justify-content: center;
  list-style: none; }
  .skills-item-list i {
    font-size: 2.5em;
    color: #314455; }
  .skills-item-list .fa-mobile-alt {
    font-size: 1.5em; }
  .skills-item-list .fa-tablet-alt {
    font-size: 1.8em; }
  .skills-item-list .fa-laptop {
    font-size: 2.2em; }
  .skills-item-list .fa-desktop {
    font-size: 2.5em; }
  .skills-item-list .fa-gem {
    transition: .35s ease-in-out; }
  .skills-item-list .fa-gem:hover {
    transform: rotate(-20deg); }

.project-section .container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.project-header-section {
  text-align: center;
  margin: 0 0 2em; }

.project-wrapper {
  background: whitesmoke;
  width: 70%;
  margin: 3em;
  border-radius: 1em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
  .project-wrapper img {
    width: 90%;
    border-radius: 1em;
    position: relative;
    margin: -1em -1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
  .project-wrapper .text {
    font-size: .85em;
    margin: 0 auto;
    width: 75%; }

/*# sourceMappingURL=style.css.map */
