$font-primary: 'Poppins', Arial, sans-serif;

$white: #fff;
$black: #121212;
$red: #9E5A63;
$blue: #314455;

//breakpoints
$bp-xxsmall: 19.50em; //320px
$bp-xsmall: 40em; //640px
$bp-small: 52.50; //840px
$bp-medium: 71.88em; //1150px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; //1920px
$bp-xxlarge: 160em; //2560px

//media queries
$mq-xxsmall: "(min-width: #{$bp-xxsmall})";
$mq-xsmall: "(min-width: #{$bp-xsmall})";
$mq-max-xsmall: "(max-width: #{$bp-xsmall})";
$mq-small: "(min-width: #{$bp-small})";
$mq-max-small: "(max-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-max-medium: "(max-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-mobile: "(min-width: 20em) and (max-width: 52.5em)";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

body {
	font-family: $font-primary;
	background: $white;
	font-size: 18px;
	line-height: 1.8;
	font-weight: 400;
	color: darken($white,45%);
	position: relative;
	margin: 0;
		a { text-decoration: none;}
}

h1, h2 {
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.25);
	font-weight: 800;
	font-size: 2em;
}
h3, h4, h5 { color: #314455; }


// SIDEBAR
.sidebar-container {
	@media (max-width: 52.5em) {
		display: block;
		position: absolute;
		left: -17em;
	}
}

@media (min-width: 52.5em) {
	.sidebar-container {
		display: flex;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		height: 100%;
		background-color: #314455;
		width: 15em;
		transition: all .5s ease-out;
	}

	.navbar-list-container {
		display: flex;
		flex-direction: column;
		font-size: .85em;
		width: 100%;
		margin: 2em 0;
		padding: 0 1em;
		list-style-type: none;
		color: whitesmoke;
		img {
			border-radius: 6em;
			width: 80%;
		}
		hr {
			border: solid .5px;
			margin: 2em auto;
			width: 100%;
		}
	}

	.name-text, .dev-text, .headshot { text-align: center; }

	.linkedin-link, .github-link,
	.resume-link, .email-link {
		display: grid;
		grid-template-columns: 2em 0;
		margin: .5em .5em;
			a {
				text-decoration: none;
				color: #fff;
			}
			a:hover { color: lightgray; }
			i {	font-size: 1.5em; }
	}
}

// MAIN WRAPPER
.main-wrapper {
	display: grid;
  grid-template-columns: 100%;
	margin: 0 0 0 15em;
	transition: all .5s ease-out;

	@media (min-width: 20em) and (max-width: 52.5em) {
		margin: 0;
	}

	// @media #{$mq-large} {
	// 	margin: 0 10.5%;
	// }
	//
	// @media #{$mq-xlarge} {
	// 	margin: 0 16.5%;
	// }
}

// NAVBAR FOR MOBILE
.mobile-navbar-container {
	 display: none;
	 height: 0;
}

@media (min-width: 20em) and (max-width: 52.5em)  {
	.mobile-navbar-container {
		display: flex;
		flex-direction: column;
		height: 6.5em;
		transition: all .5s ease-in-out;
		background: $red;
	}

	.navbar-list {
		display: flex;
		list-style: none;
		margin: 0;
			li { flex: 1; }
	}

	.headshot-img {
		flex: 1;
			img {
				width: 3.5em;
		    border-radius: 2em;
		    margin: .5em 0;
			}
	}
	.menu-icon-wrapper { flex: .3 !important; }

	.menu-bars-container {
		cursor: pointer;
		border-radius: 5em;
	  border: solid whitesmoke;
	  margin: .5em 1.5em;
	  height: 2.5em;
	  width: 2.5em;
	}

	.bar2, .bar3 {
		position: relative;
		width: 18px;
	  height: 4px;
		border-radius: 5em;
	  background-color: #fff;
		left: .8em;
		top: -2em;
	  margin: 6px 0;
	  transition: 0.4s;
	}

	.bar3 { width: 16px; }

	.bar1 {
		position: static;
		margin: .5em .8em;
		width: 4px;
	  height: 27px;
		border-radius: 5em;
	  background-color: #fff;
		transition: 0.4s;
	}

	.change .bar3 { opacity: 0; }
	.change .bar1 {
		transform: rotate(-37deg) translate(4px, 4px);
		height: 30px;
	}

	.change .bar2 {
		transform: rotate(127deg) translate(12px, -1px);
		width: 30px;
	}
}

// HEADER SECTION
.header-section {
	background-image: linear-gradient(-176deg, #9E5A63 75%, #fff calc(75% + 2px));
	position: relative;
	top: -1em;
	text-align: center;
	height: 16em;

	@media (min-width: 20em) and (max-width: 52.5em) {
		height: 20em;
	}
}

// ABOUT SECTION
.about-section {
	margin: 0 auto;
	width: 95%;
}

.bold-text-about {
	position: relative;
	margin: 0;
	font-size: 10em;
	top: .65em;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.08);
	text-transform: uppercase;

	@media (min-width: 20em) {
		font-size: 4.5em;
		top: .8em;
		text-align: center;
	}

	@media (min-width: 34.375em) {
		text-align: unset;
		font-size: 7.5em;
		top: 0.7em;
	}
}

.about-text p {
	@media (min-width: 20em) and (max-width: 34.375em) {
		text-align: center;
	}
}

// SKILLS SECTION
.skills-section {
	margin: 8em 0 0;
	h2, p, div {
		text-align: center;
		color: rgba(0,0,0,.3);
	}
	.container {
		position: relative;
		background-image: linear-gradient(176deg, #97AABD 70%, #fff calc(70% + 2px));
		-webkit-background-image: linear-gradient(176deg, #97AABD 70%, #fff calc(70% + 2px));
		-moz-background-image: linear-gradient(176deg, #97AABD 70%, #fff calc(70% + 2px));
	}
}

.skills-header {
	@media (min-width: 20em) and (max-width: 52.5em) {
		font-size: 1.5em;
	}
}

.skills-wrapper {
	margin: .5em auto;
}

.skills-item-list {
	display: grid;
	grid-template-columns: 11em 11em 11em 11em;
	grid-template-rows: 11em 11em 11em 8em;
	justify-content: center;
	list-style: none;
	transition: all .5s ease-in-out;

	@media (min-width: 20em) {
		padding: 0;
		grid-template-columns: 9em 9em;
		grid-template-rows: 9em 9em 9em 9em 14em;
	}

	@media (min-width: 34.375em) {
		grid-template-columns: 9em 9em 9em;
		grid-template-rows: 9em 9em 9em 9em 12em;
	}

	@media (min-width: 46.875em) {
		grid-template-columns: 8em 8em 8em 8em;
		grid-template-rows: 11em 11em 11em 11em;
	}
	i {
		font-size: 2.5em;
		color: #314455;
	}
	.fa-mobile-alt { font-size: 1.5em; }
	.fa-tablet-alt { font-size: 1.8em; }
	.fa-laptop { font-size: 2.2em; }
	.fa-desktop { font-size: 2.5em; }
	.fa-gem { transition: .35s ease-in-out;  }
	.fa-gem:hover { transform: rotate(-20deg); }
}

// PROJECT SECTION
.project-section {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.project-header-section {
	text-align: center;
	margin: 0 0 2em;
}

.project-wrapper {
	background: whitesmoke;
  width: 75%;
	margin: 3em;
  border-radius: 1em;
  box-shadow: 0 0 15px rgba(0,0,0,.2);

	@media (min-width: 20em) and (max-width: 34.375em) {
		width: 100%;
		margin: 2em;
	}

	.img-wrapper {
		@media (min-width: 20em) and (max-width: 34.375em) {
			text-align: center;
		}
	}

	img {
		width: 90%;
    border-radius: 1em;
    position: relative;
    margin: -1em -1em;
    box-shadow: 0 0 15px rgba(0,0,0,.2);

		@media (min-width: 20em) and (max-width: 34.375em) {
			margin: .5em 0;
		}
	}

	.text {
		font-size: .85em;
		margin: 0 auto;
		width: 75%;

		@media (min-width: 20em) and (max-width: 34.375em) {
			text-align: center;
			width: 90%;
		}
	}
}
