$font-primary: 'Poppins', Arial, sans-serif;

$white: #fff;
$black: #121212;
$primary: #2f89fc;
$coral: lightcoral;

body {
	font-family: $font-primary;
	background: $white;
	font-size: 18px;
	line-height: 1.8;
	font-weight: 400;
	color: darken($white,45%);
	position: relative;
		a { text-decoration: none;}
}

h1, h2 {
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.25);;
	font-weight: 800;
	font-size: 2em;
}

// .logo {
// 	background: lightcyan;
//     width: 5.5%;
//     height: 43px;
//     border-bottom-left-radius: 1.5em;
//     border-bottom-right-radius: 1.5em;
//     transform: translate(-4px, 88px) rotate(180deg);
// }
//
// .logo-2 {
// 	background: lightcoral;
// 		width: 5.5%;
// 		height: 39px;
// 		border-bottom-left-radius: 1.5em;
// 		border-bottom-right-radius: 1.5em;
// 		transform: translate(19px, 5px);
// }
//
// .eye {
// 	border-radius: 0px 100% 0px 0px;
// width: 12%;
// height: 43px;
// background: darkturquoise;
// transform: rotate(90deg) translate(0px, 45px);
// position: absolute;
// }

.main-wrapper {
	display: block;
  position: relative;
  margin: 0 -8px 0 15em;
}

// SIDEBAR
.side-bar-container {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	box-shadow: 0 0 10px black;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 10px black;
	background-color: lightcoral;
	width: 15em;
}

.nav-list-container {
	display: flex;
	flex-direction: column;
	font-size: .85em;
	width: 100%;
	margin: 2em 0;
	padding: 0 1em;
	list-style-type: none;
	color: whitesmoke;
	img {
		border-radius: 4em;
		width: 80%;
	}
	hr {
		border: solid .5px;
		margin: .5em auto;
		width: 100%;
	}
}

.name-text, .dev-text, .headshot { text-align: center; }

.linkedin-link, .github-link,
.resume-link, .email-link {
	display: grid;
	grid-template-columns: 2em 0;
	margin: .5em .5em;
		a {
			text-decoration: none;
			color: #fff;
		}
		a:hover { color: lightgray; }
		i {	font-size: 1.5em; }
}

// ABOUT SECTION
.about-section {
	margin: 2em 0;
		hr {
			margin: 6em auto;
			border: solid lightgray .1px;
			width: 25%;
			box-shadow: 0px 2px 11px rgba(0,0,0,1);
		}
}

.bold-text-about {
	position: absolute;
	font-size: 10em;
	top: -1.35em;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.08);
	text-transform: uppercase;
}

.about-text { padding: 3.5em 0 0; }


// SKILLS SECTION
.skills-section {
	margin: 8em 0 0;
	h1, p, div {
		text-align: center;
		color: rgba(0,0,0,.3);
	}
	.container {
		position: relative;
		background-image: linear-gradient(176deg, darkturquoise 70%, #fff calc(70% + 2px));
		-webkit-background-image: linear-gradient(176deg, darkturquoise 70%, #fff calc(70% + 2px));
		-moz-background-image: linear-gradient(176deg, darkturquoise 70%, #fff calc(70% + 2px));
	}
}

.skills-wrapper {
	margin: .5em auto;
}

.skills-item-list {
	display: grid;
	grid-template-columns: 11em 11em 11em 11em;
	grid-template-rows: 11em 11em 11em 8em;
	justify-content: center;
	list-style: none;
		i {
			font-size: 2.5em;
			color: lightgray;
		}
		.fa-mobile-alt { font-size: 1.5em; }
		.fa-tablet-alt { font-size: 1.8em; }
		.fa-laptop { font-size: 2.2em; }
		.fa-desktop { font-size: 2.5em; }
		.fa-gem { transition: .35s ease-in-out;  }
		.fa-gem:hover { transform: rotate(-20deg); }
}

// PROJECT SECTION
.project-section {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.project-header-section {
	text-align: center;
	margin: 0 0 2em;
}

.project-wrapper {
	background: whitesmoke;
  width: 70%;
	margin: 3em;
  border-radius: 1em;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
		img {
			width: 90%;
	    border-radius: 1em;
	    position: relative;
	    margin: -1em -1em;
	    box-shadow: 0 0 15px rgba(0,0,0,.2);
		}
		.text {
			font-size: .85em;
			margin: 0 auto;
			width: 75%;
		}
}
