$font-primary: 'Poppins', Arial, sans-serif;

$white: #fff;
$black: #121212;
$primary: #2f89fc;
$coral: lightcoral;

body {
	font-family: $font-primary;
	background: $white;
	font-size: 18px;
	line-height: 1.8;
	font-weight: 400;
	color: darken($white,45%);
	position: relative;
}

// h1, h2, h3, h4, h5,
// .h1, .h2, .h3, .h4, .h5 {
// 	line-height: 1.5;
// 	color: $white;
// 	font-weight: 400;
// }
// .logo {
// 	background: lightcyan;
//     width: 5.5%;
//     height: 43px;
//     border-bottom-left-radius: 1.5em;
//     border-bottom-right-radius: 1.5em;
//     transform: translate(-4px, 88px) rotate(180deg);
// }
//
// .logo-2 {
// 	background: lightcoral;
// 		width: 5.5%;
// 		height: 39px;
// 		border-bottom-left-radius: 1.5em;
// 		border-bottom-right-radius: 1.5em;
// 		transform: translate(19px, 5px);
// }
//
// .eye {
// 	border-radius: 0px 100% 0px 0px;
// width: 12%;
// height: 43px;
// background: darkturquoise;
// transform: rotate(90deg) translate(0px, 45px);
// position: absolute;
// }

.main-wrapper {
	display: block;
  position: relative;
  margin: 0 3em 0 15em;
}

// SIDEBAR
.side-bar-container {
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,1);
	background-color: lightcoral;
	width: 14em;
}

.nav-list-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 2em 0;
	padding: 0 1em;
	list-style-type: none;
	color: whitesmoke;
	img {
		border-radius: 4em;
		width: 80%;
	}
	hr {
		border: solid .5px;
		margin: .5em auto;
		width: 100%;
	}
}

.name-text, .dev-text, .headshot { text-align: center; }

.linkedin-link, .github-link, .resume-link {
	display: flex;
	flex-direction: row;
	margin: .5em .5em;
		span {
			background: rgba(0, 0, 0, 0.1);
			border-radius: 10em;
			padding: .5em .5em;
		}
		a {
			text-decoration: none;
			color: lightcyan;
		}
		i {	font-size: 1.5em; }
}
