@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  --burnt-orange: #CC5500; 
  --brown: #964B00;
  --ivory: #FFFFF0;
  --olive: #808000;
  --dark-blue: #242F40;
}

.header {
  padding-top: 30px;
}
.header .container .row {
  align-items: center;
}
.header .logo-wrapper a {
  display: block;
  width: fit-content;
  -moz-width: fit-content;
}

.header .header-links-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.header .header-links-wrapper li a {
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-blue);
}

/* short intro */
.short-intro {
  margin-top: 100px;
  margin-bottom: 100px;
}
.short-intro h1 {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  color: var(--dark-blue);
}
